name: build app

on:
  workflow_dispatch:

env:
  APPNAME: colours-plus-plus
  VERSION: 2.0.0
  QTVERSION: 6.10.1
  CMAKETARGET: ColoursPlusPlus_app

jobs:
  windows-arm-msvc-build:
    runs-on: windows-11-arm
    steps:
      - name: Windows ARM MSVC build
        uses: InfinityIntegral/SGEXTN/actions/windows_arm_msvc_build@main
        with:
          app-name: ${{env.APPNAME}}
          app-version: ${{env.VERSION}}
          qt-version: ${{env.QTVERSION}}
          cmake-target-name: ${{env.CMAKETARGET}}

  linux-arm-gcc-build:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Linux ARM GCC build
        uses: InfinityIntegral/SGEXTN/actions/linux_arm_gcc_build@main
        with:
          app-name: ${{env.APPNAME}}
          app-version: ${{env.VERSION}}
          qt-version: ${{env.QTVERSION}}
          cmake-target-name: ${{env.CMAKETARGET}}
