name: build app

on:
  workflow_dispatch:

jobs:
  build:
    uses: InfinityIntegral/SGEXTN/.github/workflows/build.yaml@main
    with:
      app-name: colours-plus-plus
      app-version: 2.0.0
      qt-version: 6.10.1
      cmake-target-name: ColoursPlusPlus_app
      platforms: linux-arm-gcc linux-gcc macos-clang windows-arm-msvc windows-llvm-mingw windows-mingw windows-msvc android-arm64-clang
