name: build app

on:
  workflow_dispatch:

jobs:
  build:
    uses: InfinityIntegral/SGEXTN/.github/workflows/BuildLah.yaml@main
    with:
      app-name: colours-plus-plus
      app-version: 2.0.0
      qt-version: 6.10.1
      cmake-target-name: ColoursPlusPlus_app
      user-facing-app-name: Colours++
      user-facing-app-version: v1.0.0
      app-icon: resources/SGEXTN_icon.png
      user-facing-organisation-name: 05524F.sg
      bundle-id: sg.singapore05524f.coloursplusplus
      app-category: Development
      licensing: GPLv3
      license-file: LICENSE.txt
      app-description: demo app from SGEXTN tutorial
      platforms: windows-llvm-mingw windows-mingw windows-msvc windows-arm-msvc macos-clang linux-gcc linux-arm-gcc
